body {
  font-family: "Raleway", sans-serif;
  color: black;
  /* background-color: sandybrown; */
  margin: 30px;
}

h1 {
  font-size: x-large;
  margin-bottom: 30px;
}

#location img {
  height: 12px;
}
